/*/////////////////////////////////////////////////
Module - Resources
/////////////////////////////////////////////////*/

// -mixins-

@normal-box-width:255px;
@normal-box-height:200px;
@feature-box-width:510px;
@feature-box-height:314px;

@green: #41B549;
@blue: #35808E;
@yellow: #E69B53;
@red: #E65653;

.opacity(@opacity: 0.5) {
	@opacityPercentage: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=(@{opacityPercentage}))"; 
  filter: ~"alpha(opacity = (@{opacityPercentage}))";
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}

.transition (@property: all,@time: .5s,@ease: ease-out,@delay: 0s){
	    -webkit-transition:@property @time @ease @delay;
		   -moz-transition:@property @time @ease @delay;
			 -o-transition:@property @time @ease @delay;
			-ms-transition:@property @time @ease @delay;
				transition:@property @time @ease @delay;
}

.m-item { 

}

.m-item.column {
	padding: 0 0 1.5em 0;
}

.r-item {
	border: 2px solid white;
	margin:0 !important;
	padding:0;
	position:relative;
	overflow:hidden;

	+ .r-item:last-child { float:left; }

	&:hover {

		.r-content {
			.opacity(1);
			.transition(all,.2s);
		}

		.r-meta {
			.opacity(1);
		}

	}

	.r-head {
		background-color: #EEE;
		color: #AAA;
		height: 1.5em;
	}

	.r-stage {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		border:none;
		display:block;
		height: @normal-box-height;
		margin:0;
		padding:.75em;
		
		.r-title {
			font-size:200%;

			.r-subtitle {
				display:block;
			}
		}
	}

	.r-stage-video {
		height: @normal-box-height;
		.video-embed { height:100%; }
	}

	.r-content {
		background-color: @yellow;
		color: #FFF;
		position:absolute;
		padding: 1.5em;
		font-size: 0.75em;
		word-wrap: break-word;

		width:100%;
		height:100%;
		left:0;
		bottom:0;
		.opacity(0);
		.transition(all,.8s);

		a { color: inherit; }
	}

	.r-popup {
		background-color: #FFF;
		color: @blue;
		position:absolute;
		padding: .5em .5em 2em;
		font-size: 0.75em;

		width:100%;
		max-height:@normal-box-height;
		left:0;
		bottom:-@normal-box-height;
		z-index:-1;
		.transition(all,.8s);	
	}

	.r-meta {
		height: 1.5em;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		z-index:1;
		.opacity(.3);

		> div {
			padding:0 .25em;
		}

		.link-list { margin-bottom:0; 
			li { margin-bottom: .5em; }
		}

		*.left { float:left; }
		*.right { float:right; }

		//format types

		.r-format {
			h2 { color:@yellow; }
		}

		.r-tag {
			h2 { color:@green; }
			.label { 
				background-color:@green;
				a {
					color:darken(@green, 25%);
					&:hover { color:#fff; }
				}
			}
		}

		.r-cat {
			h2 { color:@blue; }
			.label { 
				background-color:@blue;
				a {
					color:lighten(@blue, 25%);
					&:hover { color:#fff; }
				}
			}
		}

		.r-comment {
			h2 { color:@red; }
		}

		.r-links {
			border-radius: 7px 0 0 0;
			background-color:#fff;
			a {
				color:#555;
			}
		}

		//pop up actions

		.r-popup-trigger {
			cursor:pointer;

			&:hover {
				i {
					color:@blue;
				}
				.r-popup {
					bottom:0;
					.transition(all,.2s);
				}
			}
		}

	}

}